{{- /* Prompt on first init, but don't re-prompt on subsequent init if the data is there. */ -}}
{{- /* https://www.chezmoi.io/docs/how-to/#re-create-your-config-file */ -}}

{{- /* Support non-interactive installation for Codespaces. */ -}}
{{- /* https://www.chezmoi.io/docs/how-to/#use-chezmoi-with-github-codespaces-visual-studio-codespaces-or-visual-studio-code-remote---containers */ -}}
{{- $codespaces:= env "REMOTE_CONTAINERS" | not | not -}}

{{- $email := "" -}}
{{- if $codespaces -}}
  {{- $email := "kasberg.mike@gmail.com" -}}
{{- else -}}
  {{- if hasKey . "email" -}}
    {{- $email = .email -}}
  {{- else -}}
    {{- $email = promptString "Email for .gitconfig" -}}
  {{- end -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[merge]
  command = "meld"
[data]
  email = {{ $email | quote }}
  codespaces = {{ $codespaces }}
[bitwarden]
  unlock = "auto"
