{{- if hasKey . "kasm_secrets" -}}
#!/bin/bash
# Backup a folder to a remote address using borg.
# Usage: backup-borg.sh
# To restore: borg extract $BORG_REPO::computer-and-date

set -eu
export BORG_REPO='3549@usw-s003.rsync.net:ender'
export BORG_PASSPHRASE='{{ .kasm_secrets.borg.passphrase }}'
export BORG_REMOTE_PATH=borg1

/usr/bin/borg create --progress --exclude-from /home/mkasberg/backup-excludes.txt ::$(hostname)_$(date -Iseconds) /home/mkasberg
# /usr/bin/borg prune ::$(hostname)_$(date -Iseconds) --keep-daily=2 --keep-monthly=2
{{ end -}}
