{{- if and (.install_apps) (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

##
# Script to install Mike's applications for Ubuntu.
##

# Run this as sudo!
if [ $EUID != 0 ]; then
    sudo "$0" "$@"
    exit $?
fi

apt-get update

# Install tools used later
apt-get install gpg sudo wget curl

# Mise Apt Repo
# https://mise.jdx.dev/installing-mise.html#apt
if [ ! -f /etc/apt/sources.list.d/mise.list ]; then
    install -dm 755 /etc/apt/keyrings
    wget -qO - https://mise.jdx.dev/gpg-key.pub | gpg --dearmor | tee /etc/apt/keyrings/mise-archive-keyring.gpg 1> /dev/null
    echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.gpg arch=amd64] https://mise.jdx.dev/deb stable main" | tee /etc/apt/sources.list.d/mise.list
    apt-get update
fi

# Install PHP, but I don't need a web server.
apt-get install --no-install-recommends php

# Install Applications with apt-get
# Note for docker:
# https://stackoverflow.com/questions/45023363/what-is-docker-io-in-relation-to-docker-ce-and-docker-ee/57678382#57678382
apt-get install \
    audacity \
    borgbackup \
    build-essential \
    curl \
    default-jdk \
    docker.io \
    docker-compose \
    fastfetch \
    ffmpeg \
    filezilla \
    flameshot \
    fontconfig \
    fzf \
    gimp \
    git \
    gitk \
    gnome-tweaks \
    goaccess \
    htop \
    imagemagick \
    jq \
    libffi-dev \
    libmysqlclient-dev \
    libpq-dev \
    libreadline-dev \
    libssl-dev \
    libxml2-dev \
    libyaml-dev \
    markdown \
    meld \
    mise \
    openscad \
    p7zip \
    php-bcmath \
    php-curl \
    php-mbstring \
    php-xml \
    php-zip \
    python3 \
    ripgrep \
    ruby \
    ruby-dev \
    rustc \
    silversearcher-ag \
    texlive \
    texlive-fonts-extra \
    transmission \
    ttf-mscorefonts-installer \
    units \
    vim-gtk3 \
    vlc \
    zlib1g-dev \
    zsh

# Install snap packages
which snap > /dev/null
if [ $? -eq 0 ]; then
    snap install bw
    snap install --classic intellij-idea-community
    snap install localsend
    snap install --classic nvim
    snap install spotify
fi

{{ end -}}
