{{- if .install_ubuntu_apps -}}
#!/usr/bin/env bash

##
# Script to install Mike's user (non-root) apps on Ubuntu.
##

# Oh My Zsh
if [ -d "${HOME}/.oh-my-zsh" ]; then
    echo "Oh My Zsh already installed at: ${HOME}/.oh-my-zsh"
else
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
fi

# Vim powerline-status
pip install --user powerline-status
{{ end -}}
