{{- if and (.install_apps) (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

##
# Script to install Mike's applications for Ubuntu.
##

# Run this as sudo!
if [ $EUID != 0 ]; then
    sudo "$0" "$@"
    exit $?
fi

add-apt-repository -y ppa:zhangsongcui3371/fastfetch

apt-get update

# Install PHP, but I don't need a web server.
apt-get install --no-install-recommends php

# Install Applications with apt-get
# Note for docker:
# https://stackoverflow.com/questions/45023363/what-is-docker-io-in-relation-to-docker-ce-and-docker-ee/57678382#57678382
apt-get install \
    audacity \
    borgbackup \
    build-essential \
    curl \
    default-jdk \
    docker.io \
    docker-compose \
    fastfetch \
    ffmpeg \
    filezilla \
    flameshot \
    fzf \
    gimp \
    gimp-plugin-registry \
    git \
    gitk \
    gnome-tweak-tool \
    goaccess \
    htop \
    imagemagick \
    jq \
    libffi-dev \
    libmysqlclient-dev \
    libpq-dev \
    libreadline-dev \
    libssl-dev \
    libxml2-dev \
    libyaml-dev \
    markdown \
    meld \
    openscad \
    php-bcmath \
    php-curl \
    php-mbstring \
    php-xml \
    php-zip \
    python3 \
    ripgrep \
    ruby \
    ruby-dev \
    rustc \
    silversearcher-ag \
    texlive \
    texlive-fonts-extra \
    transmission \
    ttf-mscorefonts-installer \
    units \
    vim-gtk3 \
    vlc \
    zlib1g-dev \
    zsh

# Install snap packages
which snap > /dev/null
if [ $? -eq 0 ]; then
    snap install --classic intellij-idea-community
    snap install --classic heroku
    snap install spotify
    snap install bw
    snap install --classic nvim
fi

{{ end -}}
