{{- if .install_ubuntu_apps -}}
#!/usr/bin/env bash

##
# Script to install Mike's user (non-root) apps on Ubuntu.
##

# Default Shell
grep mkasberg /etc/passwd | grep /usr/bin/zsh > /dev/null
if [ $? -ne 0 ]; then
    echo "Changing user shell to zsh..."
    chsh -s /usr/bin/zsh
fi

# Oh My Zsh
if [ -d "${HOME}/.oh-my-zsh" ]; then
    echo "Oh My Zsh already installed at: ${HOME}/.oh-my-zsh"
else
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
fi

# Vim powerline-status
pip install --user powerline-status

# NVM and NodeJS
command -v nvm > /dev/null
if [ $? -ne 0 ]; then
    echo "Installing nvm..."
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
fi

which node > /dev/null
if [ $? -ne 0 ]; then
    nvm install node
fi

# TLDR Pages https://tldr.sh/
which tldr > /dev/null
if [ $? -ne 0 ]; then
    npm install -g tldr
fi

{{ end -}}
