{{- if hasKey . "kasm_secrets" -}}
{{- if eq .chezmoi.os "darwin" -}}
Host *
 AddKeysToAgent yes
 UseKeychain yes
 IdentityFile ~/.ssh/id_rsa

{{ end -}}

Host bitbucket.org
 IdentityFile ~/.ssh/id_rsa

Host ssh.nyc1.nearlyfreespeech.net
 User {{ .kasm_secrets.ssh.nfs_user }}
 IdentityFile ~/.ssh/id_rsa

Host catholicstuffpodcast.com
 User {{ .kasm_secrets.ssh.csysk_user }}
 IdentityFile ~/.ssh/id_rsa
{{ end -}}
